form {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgba(248, 243, 243, 0.9);
  color: #00718d;
  font-family: Inter, sans-serif;
}

@media (orientation: portrait) {
  form {
    width: 100%;
    margin: auto;
  }
}

@media (orientation: landscape) {
  form {
    width: 66.66%;
    margin: auto;
  }
}

body {
  background-color: #00718d;
  font-size: 120%;
  color: #ebf4f7;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eaf0f2;
}

div {
  margin: 50px;
}

label {
  font-weight: bold;
  margin-bottom: 20px;
}

#radio {

}

#checkbox {

}

select {
  
}

button {

}

input[type='text'] {
  margin-bottom: 20px;
}





